/* Coolors Exported Palette - https://coolors.co/000000-fdf509-89ca5d-25ae49-b9e1c2 */

/* CSS HEX */
--black: #000000ff;
--aureolin: #FDF509ff;
--pistachio: #89CA5Dff;
--pigment-green: #25AE49ff;
--celadon: #B9E1C2ff;

/* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--aureolin: hsla(58, 98%, 51%, 1);
--pistachio: hsla(96, 51%, 58%, 1);
--pigment-green: hsla(136, 65%, 41%, 1);
--celadon: hsla(134, 40%, 80%, 1);

/* SCSS HEX */
$black: #000000ff;
$aureolin: #FDF509ff;
$pistachio: #89CA5Dff;
$pigment-green: #25AE49ff;
$celadon: #B9E1C2ff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$aureolin: hsla(58, 98%, 51%, 1);
$pistachio: hsla(96, 51%, 58%, 1);
$pigment-green: hsla(136, 65%, 41%, 1);
$celadon: hsla(134, 40%, 80%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$aureolin: rgba(253, 245, 9, 1);
$pistachio: rgba(137, 202, 93, 1);
$pigment-green: rgba(37, 174, 73, 1);
$celadon: rgba(185, 225, 194, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #FDF509ff, #89CA5Dff, #25AE49ff, #B9E1C2ff);
$gradient-right: linear-gradient(90deg, #000000ff, #FDF509ff, #89CA5Dff, #25AE49ff, #B9E1C2ff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #FDF509ff, #89CA5Dff, #25AE49ff, #B9E1C2ff);
$gradient-left: linear-gradient(270deg, #000000ff, #FDF509ff, #89CA5Dff, #25AE49ff, #B9E1C2ff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #FDF509ff, #89CA5Dff, #25AE49ff, #B9E1C2ff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #FDF509ff, #89CA5Dff, #25AE49ff, #B9E1C2ff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #FDF509ff, #89CA5Dff, #25AE49ff, #B9E1C2ff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #FDF509ff, #89CA5Dff, #25AE49ff, #B9E1C2ff);
$gradient-radial: radial-gradient(#000000ff, #FDF509ff, #89CA5Dff, #25AE49ff, #B9E1C2ff);